@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


:root {
  --main-color: #444444;
  --main-title-color: #000000;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-color);
  background-color: #ffffff;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 140px;
  align-items: baseline;
}

.logo {
  width: 100%;
  margin-top: 20px;
}

.header-search-input {
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;
  padding: 0;
}

.user-navigation-item {
  align-items: center;
  display: flex;
  height: 40px;
}

.header-search-button {
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  padding: 0;
  margin-left: -6px;
  margin-right: 27px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.header-search-input::placeholder {
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  line-height: 20px;
}

.log-in-button {
  padding-left: 27px;

}

.user-navigation-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0 60px;
}

.user-navigation-link {
  text-decoration: none;
  color: var(--main-title-color);
}

.catalog-navigation-link, .hidden-catalog-button {
  text-decoration: none;
  color: var(--main-title-color);
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.hiiden-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--main-title-color);
  text-decoration: none;
}

.product-number {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  background-color: #FFE17F;
}

.product-slogan {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-title-color);
}

.button {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-title-color);
  text-decoration: none;
}

.feature {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: var(--main-title-color);
}

.feature-description {
  font-size: 16px;
}

.product-type-link {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--main-title-color);
}

.delivery-navigation-current {
  color: #FFE17F;
}

.delivery-section-name {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-title-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
