@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


:root {
  --main-color: #444444;
  --main-title-color: #000000;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-color);
  background-color: #ffffff;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 140px;
  align-items: baseline;
  min-height: 190px;
  background: linear-gradient(to bottom, #ffffff 0 40px, #FFE17F 40px 340px);
}

.logo {
  display: block;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: auto;
  max-height: 36px;
}

.logo:hover {
  opacity: 60%
}

.logo:active {
  opacity: 30%;
}

.logo:focus {
  border: none;
  outline: 2px solid #AF4FFF;
}

.header-search-input {
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  background-image: url(../images/header/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 48px;
  padding-right: 10px;
}

.header-search-input:focus {
  stroke: #AF4FFF;
  stroke-dasharray: 2px;
  stroke-width: 2px;
  stroke-linecap: butt;
}

.user-navigation-item {
  align-items: center;
  display: flex;
  height: 40px;
}

.user-navigation-item-compare {
  margin-left: auto;
}

.header-search-form {
  display: flex;
  margin-right: 27px;
}

.header-search-button {
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border-left: 0;
}

.header-search-input::placeholder {
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  line-height: 20px;
}

.log-in-button {
  padding-left: 27px;
  background-image: url(../images/header/log-in-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.compare-button {
  padding-left: 22px;
  background-image: url(../images/header/compare-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.basket-button {
  position: relative;
  margin-left: 36px;
  padding-left: 25px;
  background-image: url(../images/header/basket-logo.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.basket-number {
  position: absolute;
  display: flex;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-title-color);
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  left: -15%;
  top: 22%;
}

.user-navigation-item-relative {
  position: relative;
}

.tooltip {
  display: none;
}

.user-navigation-item-relative:focus-within .tooltip {
  display: block;
  position: absolute;
  background-color: var(--main-title-color);
  min-width: 320px;
  min-height: 310px;
  z-index: 3;
  right: -80px;
  top: 40px;
}

.tooltip::before {
  position: absolute;
  width: 14px;
  height: 6px;
  content: "";
  background-image: url(../images/header/tooltip/tooltip-arrow.svg);
  background-repeat: no-repeat;
  left: 48%;
  top: -6px;
}

.basket-products-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.basket-products-link {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 20px;
  padding-left: 82px;
  text-decoration: none;
  max-width: 151px;
  background-size: 39px 43px;
  min-width: 183px;
  box-sizing: content-box;
}

.basket-products-link-amateur {
  background-image: url(../images/header/tooltip/selfie-amateur.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}

.basket-products-link-pro {
  background-image: url(../images/header/tooltip/selfie-pro.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}

.basket-products-item {
  position: relative;
}

.basket-products-item::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 10%;
  margin-top: auto;
  bottom: 0;
  left: 0;
}

.tooltip-close-button {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
  top: 20px;
}

.number-n-price {
  background-color: #1A1A1A;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.tooltip-basket-open {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
  padding: auto 25px;
  min-height: 50px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: var(--main-title-color);
  background-color: #ffffff;
  width: 280px;
  text-align: center;
  letter-spacing: 4px;
}

.user-navigation {
  width: 100%;
}

.user-navigation-list {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0 60px;
  box-sizing: border-box;
}

.user-navigation-link {
  text-decoration: none;
  color: var(--main-title-color);
}

.catalog-navigation {
  position: absolute;
  width: 100%;
  bottom: -10%;
}

.catalog-navigation-list {
  margin: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 60px;
  box-sizing: border-box;
  background-color: #FFE17F;
}

.catalog-navigation-link, .hidden-catalog-button {
  text-decoration: none;
  color: var(--main-title-color);
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  cursor: pointer;
  text-transform: uppercase;
}

.catalog-navigation-item-delivery {
  margin-left: auto;
}

.guarantee-button {
  margin-left: 47px;
}

.contacts-button {
  margin-left: 51px;
}

.hidden-catalog-button {
  margin: 0;
  padding: 0;
  padding-right: 57px;
  border: none;
  min-height: 50px;
  background-color: transparent;
}

.hidden-catalog-button-item {
  background-image: url(../images/header/plus-button.svg);
  background-position: right center;
  background-repeat: no-repeat;
  z-index: 2;
}

.hidden-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--main-title-color);
  text-decoration: none;
}

.hidden-catalog-list {
  display: none;
}

.hidden-catalog-button-item:focus-within .hidden-catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 60px;
  position: absolute;
  top: 100%;
  right: 0;
  padding-left: 60px;
  background-color: #FFE17F;
  z-index: 1;
}

.hidden-catalog-button-item:focus-within {
  background-image: url(../images/header/minus-button.svg);
  background-position: right center;
  background-repeat: no-repeat;
  z-index: 2;
}

.hidden-catalog-item {
  margin: 0;
  margin-bottom: 33px;
}

.product-number {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  background-color: #FFE17F;
}

.product-slogan {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-title-color);
}

.button {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-title-color);
  text-decoration: none;
}

.feature {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: var(--main-title-color);
}

.feature-description {
  font-size: 16px;
}

.product-type-link {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--main-title-color);
}

.delivery-navigation-current {
  color: #FFE17F;
}

.delivery-section-name {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-title-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
